@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
  cursor: default;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  background-color: #222;
}

body {
  overflow-x: hidden;
}

a {
  font-weight: 500;
  font-size: 1.2rem;
}

/* Scrollbar */
/* Firefox scrollbar */
html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: #777 #555;
}

/* Chrome scrollbar */
html::-webkit-scrollbar {
  width: 0.5vw;
}

html::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 8px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 60.7%);
}

html::-webkit-scrollbar-track {
  background-color: #555;
}

/* Navigation */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 10px;
  flex-wrap: wrap;
}

.home {
  cursor: pointer;
  text-decoration: none;
  margin: 10px;
}

.nav-item {
  display: inline-block;
}

.nav-item a {
  cursor: pointer;
  text-decoration: none;
  margin: 10px;
}

/* Main Body */
main {
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.contact-links a {
  margin: 0 10px;
  cursor: pointer;
}

.about-self .name {
  font-size: 5rem;
  font-family: "Edu VIC WA NT Beginner", cursive;
}

.about-self .profession {
  font-size: 2rem;
  text-align: center;
  font-family: "Edu VIC WA NT Beginner", cursive;
}

#skill:hover,
#project:hover,
#contact:hover,
.home:hover {
  text-decoration: underline;
}

/* Skill file */
.top-skill-card {
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 4px solid #b99309;
  width: 70vw;
}

.top-skill-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.top-skill-card h1 {
  font-size: 3rem;
  border-bottom: 2px solid #b99309;
}

.top-skill-item p {
  margin: 20px;
  font-size: 1.8rem;
}

.tech-stack {
  padding: 10px;
  display: flex;
  text-align: center;
}

.tech-stack div {
  margin: 10px;
  border-radius: 10px;
  border: 4px solid #b99309;
  padding: 10px;
  width: 20vw;
}

.skill-main {
  justify-content: center;
}

.tech-stack div h1 {
  font-size: 3rem;
  border-bottom: 2px solid #b99309;
}

.top-skill-card h1:hover,
.top-skill-item p:hover,
.tech-stack div h1:hover,
.tech-stack div p:hover {
  color: #f7ae01;
}

.tech-stack div p {
  font-size: 2rem;
  margin: 10px;
}

/* Projects */
#project-page-title {
  text-align: center;
  font-size: 4rem;
  margin: 15px;
  font-weight: 500;
}

.projects-container {
  flex-direction: row;
  flex-wrap: wrap;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
  border: 2px solid #b99309;
  padding: 10px;
  margin: 10px;
}

.project:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
}

.project-link:hover {
  color: #f7ae01;
}

.project-description {
  background: none;
}

.project-image {
  width: 500px;
}

.project-title {
  margin: 10px;
  text-decoration: underline;
  background: none;
}

.project-link {
  margin: 10px;
  text-decoration: underline;
  cursor: pointer;
  background: none;
}

/* From uiverse.io by @fanishah */
/* Jupiter */
.planet {
  display: block;
  width: 12rem;
  height: 12rem;
  position: relative;
  transform-style: preserve-3d;
  border-radius: 50%;
  background: #fcc96b;
  background: #fcc96b;
  background: linear-gradient(
    180deg,
    #fcc96b 0%,
    #fcc96b 15%,
    #f7ae01 15%,
    #f7ae01 19%,
    #fcc96b 19%,
    #fcc96b 22%,
    #f7ae01 22%,
    #f7ae01 28%,
    #fcc96b 28%,
    #fcc96b 31%,
    #fcc96b 33%,
    #fcc96b 36%,
    #f7ae01 36%,
    #f7ae01 48%,
    #fcc96b 48%,
    #fcc96b 55%,
    #f7ae01 55%,
    #f7ae01 66%,
    #fcc96b 66%,
    #fcc96b 70%,
    #f7ae01 70%,
    #f7ae01 73%,
    #fcc96b 73%,
    #fcc96b 82%,
    #f7ae01 82%,
    #c7ba9d 86%,
    #fcc96b 86%
  );
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.25),
    inset 8px -4px 6px rgba(199, 128, 0, 0.5),
    inset -8px 4px 8px rgba(255, 235, 199, 0.5), inset 20px -5px 12px #f7ae01,
    0 0 100px #ffffff59;
  transform: rotateZ(-15deg);
}

.planet::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 16px solid #e1a519;
  border-top-width: 0;
  border-radius: 50%;
  box-shadow: 0 -2px 0 #c18620;
  animation: rings1 0.8s infinite linear;
}

.planet::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 8px solid #d48b0c;
  border-top-width: 0;
  border-radius: 50%;
  box-shadow: 0 -2px 0 #b99309;
  animation: rings2 0.8s infinite linear;
}

@keyframes rings1 {
  0% {
    transform: rotateX(65deg) rotateZ(0deg) scale(1.75);
  }

  100% {
    transform: rotateX(65deg) rotateZ(360deg) scale(1.75);
  }
}

@keyframes rings2 {
  0% {
    transform: rotateX(65deg) rotateZ(0deg) scale(1.7);
  }

  100% {
    transform: rotateX(65deg) rotateZ(360deg) scale(1.7);
  }
}

/* Contact Page */
.contact-main {
  justify-content: center;
}

.contact-container {
  display: flex;
  justify-content: center;
}

.contact-container img {
  width: 5rem;
  margin: 20px;
  padding: 10px;
}

.contact-container img:hover {
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

/* Media Queries */

/* Project Page */
@media (max-width: 600px) {
  .project {
    width: 90vw;
  }
  .project-image {
    width: 90vw;
  }
}

/* Contact Page */
@media (max-width: 500px) {
  .contact-container {
    flex-direction: column;
  }
}

/* Skill Page */
@media (max-width: 1250px) {
  body {
    overflow: auto;
  }
  .tech-stack {
    flex-direction: column;
  }
  .tech-stack div {
    width: 70vw;
  }
  .top-skill-card {
    width: 70vw;
  }
  .skill-main {
    margin-top: 30px;
  }
}

@media (max-width: 400px) {
  .tech-stack div,
  .top-skill-card {
    width: 80vw;
  }

  .top-skill-item p,
  .tech-stack div p {
    font-size: 1.5rem;
    margin: 5px;
  }

  .tech-stack div h1,
  .top-skill-card h1 {
    font-size: 2rem;
  }

  .top-skill-item {
    flex-direction: column;
  }
}

/* Index Page */
@media (max-width: 600px) {
  body {
    overflow: auto;
  }

  .planet {
    width: 10rem;
    height: 10rem;
  }

  .about-self .name {
    font-size: 4rem;
  }

  .about-self .profession {
    font-size: 2rem;
  }

  .nav {
    flex-direction: column;
  }

  .nav .nav-item {
    display: none;
  }

  .nav .nav-item.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
  }

  .toggle-button {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    display: block;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
  }

  .toggle-button .bar {
    display: block;
    margin: 4px;
    height: 3px;
    width: 100%;
    background-color: #333;
    border-radius: 10px;
    cursor: pointer;
  }
}

@media (max-width: 400px) {
  .planet {
    width: 6rem;
    height: 6rem;
  }

  .about-self .name {
    font-size: 3rem;
  }

  .about-self .profession {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  .about-self .name {
    font-size: 2rem;
  }
  .about-self .profession {
    font-size: 1rem;
  }
  nav a {
    font-size: 0.8rem;
  }

  .contact-links a {
    font-size: 0.8rem;
  }
  .toggle-button {
    width: 20px;
    height: 10px;
  }
}
